body { 
    font-family:'Pushster';
     background: #eb346b; 
    }
    .header_div p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:lawngreen;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    }
    .main_div button{ font-family: 'Roboto', sans-serif;
         margin-top: 30px; 
         width: 130px;
         font-weight: bolder;
        letter-spacing: 3px;
         }
.copy_right_footer{
    position: fixed;
    color:lightseagreen;
bottom: 0;
width: 100%;
font-size: 18px;
background-color: mediumaquamarine;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(151, 149, 149);
}